* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

input[type=text],
input[type=number],
input[type=date] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 12px 15px;
}

.border {
    border: 1px dashed;
}

.fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.left {
    float: left;
}

.right {
    float: right;
}

.width-25 {
    width: 25%;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

.float-container::after {
    content: "";
    display: block;
    clear: both;
}

.text-center {
    text-align: center;
}

.bg-image {
    background-size: cover;
    background-position: center;
    height: 750px;
    position: relative;
}

.bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.absolute {
    position: absolute;
    top: 0;
    left: 0;
}

.relative {
    position: relative;
}

.hide-mobile {
    display: none;
}

/* 태블릿 */
@media (min-width: 501px) {
    .hide-mobile {
        display: block;
    }

    .tablet-50 {
        width: 50%;
    }
}

/* PC 버전 */
@media (min-width: 701px) {
    .pc-25 {
        width: 25%;
    }
}