
/* Initialize */
/* 전체선택자 */
/* 모든 엘리먼트에 적용된다 */

/* style sheet안에서 외부파일을 가져온다 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,p {
    margin-top: 10px;
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    color: #000;
}

input[type=text], input[type=date] {
    padding: 10px;
    border: 1px solid #ddd;
}
img {
    /* img태그는 원래의 width, height값이 있기 때문에 overflow된다 */
    /* 부모태그의 넓이를 다 차지하도록 만든다 */
    width: 100%;
}

/* button */
.btn {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #ebebeb;
    text-align: center;
}
.btn:hover {
    background-color: #ddd;
}
.btn-dark {
    background-color: #333;
    color: #fff;
}
.btn-dark:hover {
    background-color: #222;
}

/* width and height */
.w-100 {
    width: 100%;
}

/* position */
.relative {
    position: relative;
}
.fixed-top {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.top-left {
    position: absolute;
    top: 0;
    left: 0;
}
.left-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
}
.right-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* flex */
.flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between
}
.flex-grow-1 {
    flex-grow: 1
}
/* > 바로 밑에 element */
/* flex item을 선택한다 */
.flex-equal > * {
    flex-grow: 1
}

/* grid */
.grid-container {
    display: grid;
    /* 컬럼(열)의 갯수  */
}
.grid-gap-10 {
    gap: 10px;
}
.grid-sm-100 {
    grid-template-columns: auto;
}

/* border */
.border {
    border: 1px solid #f1f1f1;
}
.border-children > * {
    border:1px dashed;
}
/* box-shadow */
/* 그림자 효과 */
.box-shadow {
    /* box-shadow: h / v / blur / spread / color */
    /* box-shadow: 수평(필수)/수직(필수)/흐림/퍼짐/색상 */
    box-shadow: 1px 3px 3px #888,
    -1px -3px 3px #888;
}

/* background color */
.bg-white {
    background-color: #fff;
}
.bg-black {
    background-color: #000;
}
.bg-dark-grey {
    background-color: #555;
}

/* background image */
.bg-image {
    background-size: cover;
    background-position: center;
    background-color: #ddd;
}
.fake-img {
    /* parent element의 width 기준 */
    padding-top: 75%;
    background-color: #ddd;
}

/* text */
.text-white {
    color: #fff;
}
.text-center {
    text-align: center;
}

/* padding  */
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.py-48 {
    padding-top: 48px;
    padding-bottom: 48px;
}

/* margin */
.mx-auto {
    margin: auto;
}
.m-10 {
    margin: 10px;
}
.mt-24 {
    margin-top: 24px;
}

.blockquote {
    background-color: #f1f1f1;
    border-left: 5px solid #ddd;
    padding: 24px;
}

.hide-small {
    display: none;
}

@media (min-width: 501px) {
    .hide-small {
        display: block;
    }
    /* 두 클래스 이름을 모두 가지고 있는 엘리먼트를 선택 */
    .flex.hide-small {
        display: flex;
    }
    .grid-md-50 {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 701px) {
    .grid-lg-25 {
        grid-template-columns: auto auto auto auto;
    }
}