/* Initializa (초기화) */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
ul {
  list-style-type: none;
}
.btn {
  display: inline-block;
  padding: 0.5em;
  cursor: pointer;
  text-align: ceter;
  border: 1px solid;
  background-color: #fff;
}

/* text */
.text-center {
  text-align: center;
}
.text-white {
  color: #fff;
}

/* border */
.border-bottom {
  border-bottom: 1px solid #ddd;
}

/* background */
.bg-black {
  background-color: #000;
}
.bg-white {
  background-color: #fff;
}
/* position */
.relative {
  position: relative;
}
.fixed-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

/* flex */
.flex {
  display: flex;
}
.flex-equal > * {
  flex-grow: 1;
}
.flex-col {
  flex-direction: column;
}

/* padding */
.p-2 {
  /* 1em은 element의 기본 font-size */
  /* 1rem은 16px(브라우저의 기본 font-size) */
  padding: 0.5em;
}
.px-3 {
  padding-left: 1em;
  padding-right: 1em;
}
.py-3 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.py-5 {
  padding-top: 3em;
  padding-bottom: 3em;
}

/* margin */
.mx-auto {
  margin: auto;
}
.mx-1 {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.mt-3 {
  margin-top: 1em;
}

/* fake img */
.fake-img {
  padding-top: 75%;
  background-color: #ddd;
}

/* Responsive */
#nav {
  display: none;
}
#nav.active {
  display: block;
}

/* Responsive (반응형) */
@media (min-width: 501px) {
  .flex-col {
    flex-direction: row;
  }
  .hide-mobile {
    display: none;
  }
  #nav {
    display: block;
  }
}